// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@charset "utf-8";

 * {
     margin: 0;
     padding: 0;
     font-family: 'Kodchasan', sans-serif;
     overflow: hidden;
     /* font-family: 'Open Sans', sans-serif; */
 }

 body {
     background:linear-gradient(90deg, #FF7177 0%, #FF7177 55%, #5CA9C5 55%, #5CA9C5 100%);
     color: white;
 }

 img {
     margin: 5px auto 20px;
     display: block;
     width: 600px;
 }

 .about {
     margin-top: 20px;
     padding-right: 150px;
 }

 .about a {
     text-align: right;
     color: white;
     font-size: 20px;
     
 }

 .logo {
     margin-top: 80px;
 }

 .logo p {
     font-size: 20px;
     text-align: center;
 }

 input {
     margin: 0 auto;
     display: block;
     width: 600px;
     height: 40px;
     font-size: 20px;
     border-radius: 50px;
     border: 1px solid white;
     padding-left: 20px;
 }

 
