// Place all the styles related to the urls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
    background-color: white; 
    color: gray;
 }

 .head {
    background:linear-gradient(90deg, #FF7177 0%, #FF7177 25%, #5CA9C5 25%, #5CA9C5 100%);
    color: white;
    height: 100px;

    .logo {
        width: 350px;
        margin: 10px 150px;
        float: left;
        img {
            height: 80px;
            display: block;
        }
    }

    .search_bar {
        float: right;

        .space {
            float: left;
            margin: 30px 5px;
        }

        .btn {
            float: right;
            margin: 25px  25px 25px 5px;
        }
    }
 }

 .show_page > .content {
     margin: 20px 50px;
     width: 70%;

     a {
         color: #FF7177;
     }

     h1 {
         padding-bottom: 30px;
     }
 }

 .question {
     padding: 10px;
     margin: 2em 1em;
     background: white;
     border: solid 1px whitesmoke;
     border-radius: 5px;
     box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.22);
     height: 100px;
     width: 500px;
 }

 .addition {
     padding: 10px;

     .form {
         height: 100px;
         width: 55%;
         font-size: 14px;
     }
 }